span.nav-title {
    font-size: 50px;
    font-weight: 100;

}

.validate {
    color: white;
}

.icon_prefix {
    color: white;
}

#actorPic {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

#map {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}